{% extends 'catalogue/base_catalogue.html' %}

{% block data %}
    {#   for pi in product.images.all #}
       <img src="{{ pi.images.url }}" alt="image">
    {# endfor #}
    <!--<img src="{{ product.images.all.0.image.url }}" alt="django image"> -->
    <h3>{{product.title|title}}</h3>
    <p>{{product.description|truncatewords:1000}}</p>
    <p>$ {{product.stock.price}}</p>

    <form method="post" action="{% url 'add-to-basket' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="next" value="{{request.build_absolute_uri}}">
<!--        <input type="hidden" name="product_id" value="{{ product.id }}">-->
<!--        <input type="text" name="quantity">-->
        <button type="submit">Add to Basket</button>
    </form>
{% endblock %}

{% block title %}{{ product.title|title }}{% endblock %}